<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button id="present-alert-yesno">Present Yes No Alert</ion-button>
    <ion-button id="present-alert-dismiss">Present Dismiss Alert</ion-button>
    <ion-alert
      trigger="present-alert-yesno"
      header="A Short Title Is Best"
      subHeader="A Sub Header Is Optional"
      message="A message should be a short, complete sentence."
      [buttons]="yesNoButtons"
    ></ion-alert>
    <ion-alert
      trigger="present-alert-dismiss"
      header="A Short Title Is Best"
      subHeader="A Sub Header Is Optional"
      message="A message should be a short, complete sentence."
      [buttons]="dismissButton"
    ></ion-alert>
  </div>
</ion-content>
